# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
infomensajero.db
infomensajero.db-*
Ejecutable.zip_*
Ejecutable.zip

# User profiles
profiles/
build/
dist/
Ejecutable/
.pytest_cache/

