# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
infomensajero.db
infomensajero.db-*

#Ejecuable
Ejecutable.zip_*
Ejecutable.zip
InfoMensajero.exe_*
InfoMensajero.exe
Output\InfoMensajero.exe
Output\InfoMensajero.exe_*

# User profiles
profiles/
build/
dist/
Ejecutable/
.pytest_cache/
